extends ../../../layout/_page

block container
  #edgePage_dashboard.edge_page.container(ng-controller="DashboardController")

    h1 Welcome to <%= appTitle %>, an EdgePlate Project.
    p.lead Now build something cool.
