//- ------------------rel icon, ico-------------------
link(rel="icon", sizes="16x16 32x32 64x64", href="/favicon.ico")


//- ------------------rel icon, png-------------------
//- Certain old but not too old Chrome versions mishandle ico
link(rel="icon", href="/images/favicon-32.png", sizes="32x32")

//- Standard iOS home screen (iPod Touch, iPhone first generation to 3G)
link(rel="icon", href="/images/favicon-57.png", sizes="57x57")

//- iPad home screen icon
link(rel="icon", href="/images/favicon-72.png", sizes="72x72")

//- GoogleTV icon
link(rel="icon", href="/images/favicon-96.png", sizes="96x96")

//- iPhone retina touch icon (Change for iOS 7: up from 114x114)
link(rel="icon", href="/images/favicon-120.png", sizes="120x120")

//- Chrome Web Store icon
link(rel="icon", href="/images/favicon-128.png", sizes="128x128")

//- IE10 Metro tile for pinned site
link(rel="icon", href="/images/favicon-144.png", sizes="144x144")

//- iPad retina touch icon (Change for iOS 7: up from 144x144)
link(rel="icon", href="/images/favicon-152.png", sizes="152x152")

//- Opera Speed Dial icon
link(rel="icon", href="/images/favicon-195.png", sizes="195x195")

//- Opera Coast icon
link(rel="icon", href="/images/favicon-228.png", sizes="228x228")


//- -----------------rel apple touch icon, png-------------------
//- For iPad with high-resolution Retina display running iOS ≥ 7
link(rel="apple-touch-icon-precomposed", sizes="152x152", href="/images/favicon-152.png")

//- For iPad with high-resolution Retina display running iOS ≤ 6
link(rel="apple-touch-icon-precomposed", sizes="144x144", href="/images/favicon-144.png")

//- For iPhone with high-resolution Retina display running iOS ≥ 7
link(rel="apple-touch-icon-precomposed", sizes="120x120", href="/images/favicon-120.png")

//- For iPhone with high-resolution Retina display running iOS ≤ 6
link(rel="apple-touch-icon-precomposed", sizes="114x114", href="/images/favicon-114.png")

//- For first- and second-generation iPad
link(rel="apple-touch-icon-precomposed", sizes="72x72", href="/images/favicon-72.png")

//- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices
link(rel="apple-touch-icon-precomposed", href="/images/favicon-57.png")
