@mixin animate-enter () {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

// scss-lint:disable VendorPrefixes
@-webkit-keyframes animate-enter { @include animate-enter; }
@-moz-keyframes animate-enter { @include animate-enter; }
@-o-keyframes animate-enter { @include animate-enter; }
@keyframes animate-enter { @include animate-enter; }
// scss-lint:enable VendorPrefixes

%animate-enter {
    @include animation(animate-enter 0.25s ease-in-out);
    @include translate3d(0, 0, 0);
}

@mixin animate-leave () {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

// scss-lint:disable VendorPrefixes
@-webkit-keyframes animate-leave { @include animate-leave; }
@-moz-keyframes animate-leave { @include animate-leave; }
@-o-keyframes animate-leave { @include animate-leave; }
@keyframes animate-leave { @include animate-leave; }
// scss-lint:enable VendorPrefixes

%animate-leave {
    @include animation(animate-leave 0.25s ease-in-out);
    @include translate3d(0, 0, 0);
}
