@mixin animation ($arguments...) {
    -webkit-animation: $arguments;
    -moz-animation: $arguments;
    -o-animation: $arguments;
    animation: $arguments;
}

@mixin animate ($arguments...) { @include animation($arguments);}
@mixin anime ($arguments...) { @include animation($arguments);}


%shown {
    display: block !important;
    visibility: visible !important;
}

%hidden {
    display: none !important;
    visibility: hidden !important;
}
