// Global App Styles
// --------------------------------------------------
html.windows {
    .mac {
        display: none !important;
    }
    .linux {
        display: none !important;
    }
}

html.mac {
    .windows {
        display: none !important;
    }
    .linux {
        display: none !important;
    }
}

html.linux {
    .windows {
        display: none !important;
    }
    .mac {
        display: none !important;
    }
}

html.ie9 {
    .input-group .form-control {
        //display:table-cell doesn’t go 100% wide on IE9, this fixes that.
        display: block;
    }
}

//by default, hide Firefox less than 4 messages
html {
    .firefoxlt4 {
        @include manual-hide();
    }
}

//if Firefox less than 4, show such messages
html.firefoxlt4 {
    .firefoxlt4 {
        @include manual-show();
    }
}

//hard fail when either IE 8 and lower, javascript disabled, or Firefox less than version 4
html.no-js, html.ie.lt9, html.firefoxlt4 {
    .edge-app-view,
    nav,
    footer {
        @include manual-hide();
    }
}


.edge-app-view.ng-enter {
    @extend .animate-enter;
}

.edge-app-view.ng-leave {
    @extend .hidden;
}

.has-app-header body {
    padding-top: 60px;
    padding-bottom: 40px;
}

#nprogress {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #eee;
    background: rgba(255, 255, 255, 0.5);
    z-index: 1040;

    .bar {
        background: #29d;

        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;

        width: 100%;
        height: 2px;
    }

    .peg {
        display: block;
        position: absolute;
        right: 0px;
        width: 100px;
        height: 100%;
        box-shadow: 0 0 10px #29d, 0 0 5px #29d;
        opacity: 1.0;

        -webkit-transform: rotate(3deg) translate(0px, -4px);
            -ms-transform: rotate(3deg) translate(0px, -4px);
                transform: rotate(3deg) translate(0px, -4px);
    }

    .spinner {
        display: block;
        position: fixed;
        z-index: 100;
        top: 15px;
        right: 15px;
    }

    .spinner-icon {
        width: 18px;
        height: 18px;
        box-sizing: border-box;

        border: solid 2px transparent;
        border-top-color: #29d;
        border-left-color: #29d;
        border-radius: 50%;

        -webkit-animation: nprogress-spinner 400ms linear infinite;
                animation: nprogress-spinner 400ms linear infinite;
    }
}

@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
