extends ../../../layout/_page

block container
  .page-<%= _.ltrim(_.dasherize(controllerName), '-') %>.container(ng-controller="<%= controllerName %>Controller")

    h1 <%= _.capitalize(name) %>
    p.lead This page has an Edge.
