@mixin animation ($arguments...) {
    -webkit-animation: $arguments;
    -moz-animation: $arguments;
    -o-animation: $arguments;
    animation: $arguments;
}
@mixin animate ($arguments...) { @include animation($arguments);}
@mixin anime ($arguments...) { @include animation($arguments);}

@mixin manual-hide {
    display:none !important;
    visibility:hidden !important;
}

@mixin manual-show {
    display:block !important;
    visibility:visible !important;
}
